{% extends "elixir_ita/base.html" %}

{% load staticfiles %}

{% block content %}

    <div class="table">
        <table width="910" align="center">
		<tr>
		    <td>
			<div class="course">	
<img border="0" style="margin:4px" src="{% static "img/allegra_2015.jpg" %}" width="91" align="left">
<font size="2">
    <p align="justify">
			    <b>Allegra Via</b> is a physicist and scientific researcher in the Biocomputing Unit of Sapienza
			    Universit&agrave; (Roma, IT) where she also teaches Macromolecular Structure, Python programming, 
			    Bioinformatics and Biochemistry. Her main research interests include protein structural 
			    bioinformatics, protein function prediction and analysis, and protein interactions. On top of her research
			    activities, she is strongly involved in the design, organisation and delivery of bioinformatics training courses. 
			    She is the Training Coordinator for <b>ELIXIR Italy</b>, 
			    the <b>ELIXIR.ITA</b> local technical coordinator for Sapienza Universit&agrave;, and a member of the Global 
			    Organisation for Bioinformatics Learning, Education and Training, <b>GOBLET</b>. 
			    <br><br>
			    <b>Affiliation: </b>Sapienza Universit&agrave;, Roma, IT
    </p>
</font>
			</div>
		</td></tr>
	</table>
    </div>

			

{% endblock content %}

