{% load staticfiles %}

<!--
<img src="{% static "img/allegra_2015.jpg" %}" alt="My image"/>
--!>

<html>
    <head>
        <title>ELIXIR-ITA bioinformatics training</title>

<!-- CSS --!>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Corbel&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/elixir_ita.css' %}" type="text/css">

<!-- META --!>

    <meta name="Keywords" content="Elixir-ITA bioinformatics training" />
    <meta name="Description" content="Elixir-ITA bioinformatics training courses" />
    <meta name="Distribution" content="Global" />
    <meta name="Robots" content="index,follow" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Allegra Via">

    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> ELIXIR-ITA bioinformatics training</a></h1>
        </div>
        <div class="content container">
            <div class="row">
<!--
                <div class="col-md-8">         
--!>
                {% block content %}
                {% endblock %}
                </div>
            </div>
<!--
        </div>
	<table width="910" align="center" >
	    <tr><td>
	    </td></tr>
	</table>
--!>

    </body>
</html>

