{% extends "elixir_ita/base.html" %}

{% load staticfiles %}

{% block content %}
    
    <div class="table">
    <table align="center" width="910">
        <tbody><tr><td>
            <h3>Bioinformatics Training Courses 2016
        </td></tr>
    </tbody></table>

    <table align="center" width="910">
        <tbody>
	<tr>
	    <td style="background:#ff9400">
		<b>Title</b>
	    </td>
	    <td style="background:#ff9400">
		<b>Venue</b>
	    </td>
	    <td style="background:#ff9400">
		<b>Date</b>
	    </td>
	</tr>
	<tr>
	    <td style="background:#DCDCDC">
		NGS for evolutionary biologists: from basic scripting to variant calling
	    </td>
	    <td style="background:#DCDCDC">
		Naples
	    </td>
	    <td style="background:#DCDCDC">
		2-6 May 2016
	    </td>
	</tr>
	<tr>
	    <td>
		Gene Expression profiling with HTS: RNA-Seq data analysis
	    </td>
	    <td>
		Naples
	    </td>
	    <td>
		6-10 June 2016
	    </td>
	</tr>
	<tr>
	    <td style="background:#DCDCDC">
		Writing advanced pipelines in bioinformatics on HPC	
	    </td>
	    <td style="background:#DCDCDC">
		CINECA, Rome
	    </td>
	    <td style="background:#DCDCDC">
		July 2016
	    </td>
	</tr>
	<tr>
	    <td>
		Analyse your NGS data with Galaxy
	    </td>
	    <td>
		Milan
	    </td>
	    <td>
		September 2016
	    </td>
	</tr>
	<tr>
	    <td>
		Python programming for biological data analysis
	    </td>
	    <td>
		Rome
	    </td>
	    <td>
		October 2016
	    </td>
	</tr>
	<tr>
	    <td style="background:#DCDCDC">
		Data analysis with R – Bioconductor
	    </td>
	    <td style="background:#DCDCDC">
		Rome
	    </td>
	    <td style="background:#DCDCDC">
		October/November 2016
	    </td>
	</tr>
	<tr>
	    <td>
		Metagenomics data processing and analysis
	    </td>
	    <td>
		TBD
	    </td>
	    <td>
		November 2016
	    </td>
	</tr>
	<tr>
	    <td>
		Biomedical data analysis, interpretation and representation
	    </td>
	    <td>
		Rome
	    </td>
	    <td>
		December 2016
	    </td>
	</tr>
	</table>
    </div>


{% endblock content %}
