{% extends "elixir_ita/base.html" %}

{% load staticfiles %}

{% block content %}

    <div class = "table_home">
	<table width="800" align="center">
	    <tr>
		<td>
		<br>
			<h3 align = "center">ELIXIR/EXCELERATE Training Platform - Train the Trainer (TtT) subtask</h3><br>    

<a href="https://www.elixir-europe.org/excelerate">EXCELERATE</a> funding will help ELIXIR coordinate and extend national and international data resources to ensure the delivery of world-leading life-science data services. It will support a pan-European training programme, anchored in national infrastructures, to increase bioinformatics capacity and competency. It will also provide efficiencies in management and operation throughout the infrastructure, which is distributed amongst 17 countries.
<br><br>
<a href="https://www.elixir-europe.org/excelerate/training">The Training platform</a> (WP11) will train European researchers active within the ELIXIR-EXCELERATE communities (WP6 to 9), providing them with skills to effectively exploit the data, tools, standards and compute infrastructure offered by ELIXIR.
<br><br>
ELIXIR-ITA leads the WP11 Train the Trainer (TtT) subtask.
<br><br>
<b>The TtT subtask's main goals</b> are: 1) deliver a framework and associated materials and guidelines for training new trainers across ELIXIR (eg a guidance book/tutorial set/white papers); 2) build a highly skilled and coherent community of training instructors by train the trainer pool that already exists – albeit in a fragmented manner – across ELIXIR Nodes and identify and train new trainers.
<br><br>
Within this subtask, six TtT courses will be run each year from 2016 to 2019.<br> Three extra sessions each year (from 2017 to 2019) will be added to training courses that are running in <a href="https://www.elixir-europe.org/excelerate">EXCELERATE Use Cases</a>.


<h3>TtT Courses 2016</h3>
    <ol>

        <li>ELIXIR/EXCELERATE Train-The-Trainer 1st pilot course. Cambridge, UK, 10-11 May 2016</li>
        <li>ELIXIR/EXCELERATE Train-The-Trainer 2nd pilot course. Oeiras, Portugal, 10-15 July 2016</li>
        <li>ELIXIR/EXCELERATE Train-The-Trainer 3rd pilot course in collaboration with the GOBLET (Global Organisation for Bioinformatics Learning, Education & Training). Monday, 24th October 2016 - CNR, Rome
        <li>ELIXIR/EXCELERATE Train-The-Trainer 4th pilot course. Ljubljana, Slovenia, 28-30 November 2016</li>
    </ol>

                </td>
	    </tr>
	</table>
    </div>

{% endblock content %}

