{% extends "elixir_ita/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="table">
<table width="910" align="center" >
    <tr><td>
	<h3><b>RNASeq2015 course materials</b></h3>
    </td></tr>
    <tr><td>
	<div class="course">
            <ol>
                <li> 
		    <a href="{% static "docs/unix.zip" %}">UNIX/Linux command line</a></h4>
                </li><li>
		    <a href="{% static "docs/TutorialRNA-Seq_CINECA2015.pdf" %}">RNA-Seq_Tutorial_Ferre.pdf</a> 
                </li><li>
		    <a href="{% static "docs/HTS_data_analysis_Teresa_Colombo.zip" %}">HTS_data_analysis_Colombo</a> 
                </li>
            </ol>
	</div>
    </td></tr>
    <tr><td>
        <u><b><p>Credits to</u></b>:
           <br>Kristian Rother (Linux tutorial) 
           <br>Allegra Via (Command-line presentation)
           <br>Teresa Colombo (Introduction to HTS data and tools, UCSC tutorials) 
           <br>Fabrizio Ferre' (RNA-Seq presentations and tutorials)
	</p>
    </td></tr>
</table>
</div>

<div class=course>
    <h4><a href="{% url "course_detail" pk=course.pk %}">Course Homepage</a></h4>
</div>

{% endblock content %}
