{% extends "elixir_ita/base.html" %}                                                                                     

 {% block content %}
     <div class=table>
     <table width="910" align="center">
         <tr><td>
             <h3>{{ course.code }}</h3>
             <h2>{{ course.title }}</h2>
             </td>
	     </tr>
	     <tr>
	     <td>
             <b>Timetable (provisional) </b>
         </td></tr>
     </table>
 
     <table width="910" align="center">
     <tr >
         <td width="130" style="background:#ff9400">
         <b>Mon, Dec 14th</b>
         </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
	 </td>
         <td width = "110" style="background:#ff9400">
         <b>Day #1</b>
         </td>
     </tr>
 
 <!--Day One program -->
 
    <tr>
        <td>14:00-14:30</td>
        <td>Welcome</td>
        <td>Welcome and self-presentations</td>
	<td>All</td>
    </tr>
    <tr>                                                                                            
        <td>14:30-15:00</td>
	<td>Lecture</td>		
        <td>Introduction to the course: protein interactions, protein networks and systems biology</td>
	<td>A. Via</td>		
     </tr>
 
    <tr>  
        <td>15:00 - 15:30</td>
	<td>Keynote Lecture</td>		
        <td>Computational Perspectives on protein interactions, systems biology and beyond</td>
	<td>R. Casadio</td>		
     </tr>
 
     <tr>
         <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea Break
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>16:00 - 16:30</td>
	 <td>Lecture</td>
         <td>
	 Bioinformatics tools to study protein-protein and protein-ligand interactions
         </td>
	 <td>L. Licata</td>
     </tr>
     <tr>
         <td>16:30 - 18:00</td>
	 <td>Practical</td> 
         <td>
	 Bioinformatics tools to study protein-protein and protein-ligand interactions
         </td>
         <td>L. Licata</td>
     </tr>
 <!--   -->
 
     <tr >
         <td style="background:#ff9400">
         <b>Tue, Dec 15th</b>
         </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
             <b>Day #2</b>
         </td>
     </tr>
 
 <!--Day Two program -->
 
     <tr>
         <td>09:00 - 10.30</td>
         <td>Lecture/Practical</td>
         <td>
	 Collecting, annotating and integrating PPI data: standards initiatives, data formats and data models - Web resources describing results of PPI experiments
         </td>
	 <td>L. Licata</td>
     </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>
         <td>11:00 - 12:30</td>
	 <td>Lecture/Practical</td>
         <td>
         PPI Gene Ontology and Controlled Vocabularies  
         </td>
	 <td>L. Licata</td>
     </tr>
     <tr>
         <td>12:30 - 14:00</td>
         <td style="background:#DCDCDC">
         Lunch Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>
         <td>14:00 - 14:45</td>
	 <td>Keynote Lecture</td>
         <td>
         From the structure of proteins to large scale protein interaction
         </td>
	 <td>R. Casadio</td>
     </tr>
     <tr>
         <td>14:45 - 15:30</td> 
	 <td>Lecture</td>
         <td>
	 Relevant features to predict protein interactions sites
	 </td>
	 <td>P. Fariselli</td>
    </tr>
    <tr>
	 <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>                                                                                                                 
         <td>16:00 - 16:30</td>
	 <td>Lecture</td>
         <td>
	 Prediction of protein 3D complexes
         </td>
	 <td>A. Via</td>
     </tr>
     <tr>
         <td>16:30 - 18:00</td>
	 <td>Practical</td>
         <td>
	 Prediction of protein 3D complexes
         </td>
	 <td>A. Via</td>
     </tr>
 
 <!--   -->
 
     <tr >
         <td style="background:#ff9400">
         <b>Wed, Dec 16th</b>
         </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
             <b>Day #3</b>
         </td>
     </tr>
 
 <!--Day Three program -->
 
     <tr>
         <td>09:00 - 10:30</td>
	 <td>Practical</td>
         <td>Analysis of protein 3D complexes</td>
	 <td>A. Via</td>
     </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>
         <td>11:00 - 12:30</td>
	 <td>Practical</td>
         <td>Analysis of protein 3D complexes</td>
	 <td>A. Via</td>
     </tr>
     <tr>
         <td>12:30 - 14:00</td>
         <td style="background:#DCDCDC">
         Lunch Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>
         <td>14:00 - 15:00</td>
	 <td>Lecture</td>
         <td>Introduction to the graph theory</td>
	 <td>A. Calderone</td>
         </tr>
	 <tr>
         <td>15:00 - 15:30</td>
	 <td>Practical</td>
         <td>Biological networks</td>
	 <td>A. Calderone</td>
	 </tr>
     <tr>
         <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>
         <td>16:00 - 18:00</td>
         <td>Practical</td> 
         <td>Analysing biological networks with Cytoscape</td>
	 <td>A. Calderone</td>
     </tr>

 <!--   -->
 
     <tr > 
         <td style="background:#ff9400">
         <b>Thu, Dec 17th</b>
         </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
             <b>Day #4</b>
         </td>
     </tr>
 
 <!--Day Four program -->
 
     <tr>
         <td>09:00 - 10:00</td>
         <td>Lecture</td>
         <td>Systems Biology: an overview</td>
	 <td>A. Calderone</td>
     </tr>
     <tr>
         <td>10:00 - 10:30</td>
         <td>Lecture</td>
         <td>Modelling biological systems</td>
	 <td>A. Calderone</td>
     </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>
         <td>11:00 - 12:30</td>
	 <td>Practical</td>
         <td>Discrete Models</td>
         <td>A. Calderone</td>
     </tr>
     <tr>
         <td>12:30 - 14:00</td>
         <td style="background:#DCDCDC">
         Lunch Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>
         <td>14:00 - 15:30</td>
	 <td>Practical</td>
         <td>Continuous Models</td>
         <td>A. Calderone</td>
     </tr>
     <tr>
         <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     </tr>
     <tr>
	 <td>16:00 - 18:00</td>
	 <td>Lecture/Practical</td>
	 <td>
         Integration of PPI sources and prediction methods: NET-GE: a novel NETwork-based Gene Enrichment for detecting biological processes associated to Mendelian diseases
	 </td>
         <td>PL. Martelli</td>
     </tr>

 <!--   -->
 
     <tr >
         <td style="background:#ff9400">
         <b>Fri, Dec 18th</b>
         </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
	 </td>
         <td style="background:#ff9400">
             <b>Day #5</b>
         </td>
     </tr>

 <!--Day 5 program -->

     <tr>
	<td>09:00 - 10:30</td>
	<td>Lecture/Practical</td>
	<td>Network biology approaches to understand human disease</td>
	<td>A. Zanzoni</td>
     </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee Break
         </td>
         <td style="background:#DCDCDC"></td>
         <td style="background:#DCDCDC"></td>
     <tr>
	<td>11:00 - 12:00</td>
	<td>Practical</td>
	<td>Network biology approaches to understand human disease</td>
	<td>A. Zanzoni</td>
     </tr>
     <tr>
	 <td>12:00 - 13:00</td>
	 <td>Keynote Lecture</td>
	 <td>Signal transduction networks and cell networks: application to the muscle regeneration process</td>
	 <td>G. Cesareni</td>
     </tr> 
     <tr>
         <td>13:00 - 13:15</td>
	 <td>Wrap-up</td>
         <td>Outcomes versus expectations - Final wrap-up session</td>
	 <td></td>
     </tr>
 </table>
 </div>
 
 <div class=course>
     <h4><a href="{% url "course_detail" pk=course.pk %}">Course Homepage</a></h4>                                        
 </div>
 
 {% endblock content %}

