{% extends "elixir_ita/base.html" %}

{% load staticfiles %}

{% block content %}
    
    <div class="table">
    <table align="center" width="910">
        <tbody><tr><td>
            <h1>Effective academic teaching</h1>
            <h3>Learning principles and didactic strategies that will transform your way of delivering bioinformatics courses</h3>
        </td></tr>
    </tbody></table>

    <table align="center" width="910">
        <tbody><tr>
            <td width="210">
                <b>Timetable</b>
            </td>
            <td width="700">
		<b>Detailed Program</b>
	    </td>
	</tr>
	<tr>
	    <td style="background:#ff9400">
		<b>Wed, June 15th </b>
	    </td>
	    <td style="background:#ff9400">
	    </td>
	</tr>

<!--Day One program -->

	<tr>
	    <td width="130">09:15-09:30</td>
	    <td>Introduction, motivations and aims – Quick participants' introduction</td>
	</tr>
        <tr>
	<td><b>Session 1 - How learning works and what teachers can do to facilitate it</b></td>
	<td>
	Traditional Lecturing e is statistically the least effective method for content delivery. People lose interest or get distracted and ultimately retain less information. In this session we will discuss how learning works and how we can facilitate it using creative ways to make learning interactive with the learners driving the process.</td> 
	</tr>
	<tr>
	    <td>09:30-09:50</td>
	    <td><b>Allegra Via (IBBE, CNR, Bari, IT)</b>: Lessons from cognitive research, academic teaching and training experiences</td>
	</tr>
	<tr>
	    <td>09:50-10:10</td>
	    <td><b>Vincenza Colonna (CNR, Naples, IT)</b>: Lessons from non-formal learning and teaching</td>
	</tr>
	<tr>
	    <td>10:10-10:40</td>
	    <td><b>Work in groups</b> - The groups will discuss which techniques they would feel comfortable to implement in their courses and how</td>
	</tr>
	<tr>
	    <td>10:40-10:50</td>
	    <td>Quick discussion and recap</td>
	</tr>
	<tr>
	    <td style="background:#DCDCDC">10:50-11:10 </td>
	    <td style="background:#DCDCDC">
		Coffee Break
	    </td>
	</tr>
        <tr>
	<td><b>Session 2 - Using assessment for better teaching</b></td>
	<td>
In this session we will discuss the difference between formative and summative assessment and how assessment can be effectively used as a great instrument to enhance the quality of your teaching and, as a consequence, the learning experience of your students.
Course diagnostic assessment can make you aware of students' prior knowledge and mental models. Tests during the course can be used to verify whether learning is actually occurring and to direct your teaching accordingly. Post-course (feedback) questionnaires can help improve the quality of teaching and teaching materials for future editions of a course.
	</td>
	</tr>
	<tr>
	    <td>11:10-11:30</td>
	    <td><b>Gabriella Rustici (University of Cambridge, Cambridge, UK)</b>: Lessons from the training programme at the university of Cambridge </td>
	</tr>
	<tr>
	    <td>11:30-11:50</td>
	    <td><b>Sarah Morgan (EBI, Hinxton, UK)</b>: Lessons from training at the EBI</td>
	</tr>
	<tr>
	    <td>11:50-12:40</td>
	    <td><b>Work in groups</b> - The groups will discuss which kind of tests and questionnaires they would feel comfortable to design and use in their courses and how</td>
	</tr>
	<tr>
	    <td>12:30-12:40</td>
	    <td>Quick discussion and recap</td>
	</tr>
	<tr>
	    <td>12:40-13:00</td>
	    <td><b>Pedro Fernandes (Instituto Gulbenkian de Ciência, Oeiras, PT)</b>: Current needs in Europe for bioinformatics professionals: what should be taught in BSc and MSc courses </td>
	</tr>
	<tr>
	    <td>13:00-13:15</td>
	    <td>Wrap up</td>
	</tr>
	<tr>
	    <td style="background:#DCDCDC">13:15-14:00 </td>
	    <td style="background:#DCDCDC">
		Lunch		
	    </td>
	</tr>
	<tr>
	    <td style="background:#ff9400">
		<b>Thu, June 16th </b>
	    </td>
	    <td style="background:#ff9400">
	    </td>
	</tr>
	<tr>
	    <td>At the BITS2016 conference</td>
	    <td><b>A. Via & V. Colonna</b>: Ten simple rules to make your teaching (more) effective</td>
	</tr>
	<tr>
	    <td style="background:#ff9400">
		<b>Fri, June 17th </b>
	    </td>
	    <td style="background:#ff9400">
	    </td>
	</tr>
	<tr>
	    <td>14:00-15:30</td>
	    <td><b>Round Table: </b>Current needs in Europe for bioinformatics professionals: what it is and what should be taught in BSc and MSc courses in Italy? A minimum syllabus for a preparatory course in Bioinformatics </td>
	</tr>

</tbody></table>

</div>

<div class=course>
    <h4><a href="{% url "course_detail" pk=course.pk %}">Course Homepage</a></h4>
</div>

{% endblock content %}
