{% extends "elixir_ita/base.html" %}                                                                                     

 {% block content %}
     <div class=table>
     <table width="910" align="center">
         <tr><td>
             <h3>{{ course.code }}</h3>
             <h2>{{ course.title }}</h2>
             </td>
	     </tr>
	     <tr>
	     <td>
             <b>Timetable</b>
         </td></tr>
     </table>
 
     <table width="910" align="center">
     <tr >
         <td width="130" style="background:#ff9400">
         <b>Mon, Sept 26th</b>
         </td>
         <td style="background:#ff9400">
	 </td>
         <td width = "600" style="background:#ff9400" align="right">
         <b>Day #1</b>
         </td>
     </tr>
 
 <!--Day One program -->
 
    <tr>
        <td>09:00 - 09:45</td>
         <td style="background:#DCDCDC">
        Welcome
         </td>
         <td style="background:#DCDCDC">
        Welcome, intro & expectations
         </td>
    </tr>
    <tr>
        <td>09:45 - 10:30</td>
        <td>Lecture</td>
        <td>Intro to the Linux command line</td>
    </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee break
         </td>
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>11:00 - 13:00</td>
	 <td>Practical</td>
         <td>Linux tutorial</td>
     </tr>
     <tr>
         <td>13:00 - 14:00</td>
         <td style="background:#DCDCDC">
	 Lunch 
         <td style="background:#DCDCDC">
     </tr>
     <tr>
         <td>14:00 - 15:30</td>
	 <td>Lecture&Practical</td>
         <td>Python Shell</td>
     </tr>
     <tr>
         <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>16:00 - 18:00</td>
	 <td>Lecture&Practical</td>
         <td>Python programs</td>
     </tr>
 <!--   -->
     <tr >
         <td width="130" style="background:#ff9400">
         <b>Tue, Sept 27th</b>
         </td>
         <td style="background:#ff9400"></td>
         <td width = "110" style="background:#ff9400" align="right">
         <b>Day #2</b>
         </td>
     </tr>
 
 <!--Day Two program -->
 
    <tr>
        <td>09:00 - 10:30</td>
        <td>Lecture&Practicals</td>
        <td>Repeating things</td>
    </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>11:00 - 13:00</td>
	 <td>Lecture&Practical</td>
         <td>Reading and writing files</td>
     </tr>
     <tr>
         <td>13:00 - 14:00</td>
         <td style="background:#DCDCDC">
	 Lunch 
         <td style="background:#DCDCDC">
     </tr>
     <tr>
         <td>14:00 - 15:30</td>
	 <td>Lecture&Practical</td>
         <td>Parsing</td>
     </tr>
     <tr>
         <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>16:00 - 18:00</td>
	 <td>Lecture&Practical</td>
         <td>Parsing</td>
     </tr>
     <tr >
         <td width="130" style="background:#ff9400">
         <b>Wed, Sept 28th</b>
         </td>
         <td style="background:#ff9400">
	 </td>
         <td width = "110" style="background:#ff9400" align="right">
         <b>Day #3</b>
         </td>
     </tr>
 
 <!--Day Three program -->
 
    <tr>
        <td>09:00 - 10:30</td>
        <td>Lecture&Practicals</td>
        <td>Functions</td>
    </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>11:00 - 13:00</td>
	 <td>Lecture</td>
         <td>Debugging and Error Handling</td>
     </tr>
     <tr>
         <td>13:00 - 14:00</td>
         <td style="background:#DCDCDC">
	 Lunch 
         <td style="background:#DCDCDC">
     </tr>
     <tr>
         <td>14:00 - 15:30</td>
	 <td>Lecture&Practical</td>
         <td>Data columns (formatting and sorting)</td>
     </tr>
     <tr>
         <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>16:00 - 18:00</td>
	 <td>Lecture&Practical</td>
         <td>Tabular Data</td>
     </tr>
     <tr >
         <td width="130" style="background:#ff9400">
         <b>Thu, Sept 29th</b>
         </td>
         <td style="background:#ff9400"></td>
         <td width = "110" style="background:#ff9400" align="right">
         <b>Day #4</b>
         </td>
     </tr>
 
 <!--Day Four program -->
 
    <tr>
        <td>09:00 - 10:30</td>
        <td>Lecture&Practicals</td>
        <td>Searching</td>
    </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>11:00 - 13:00</td>
	 <td>Lecture&Practical</td>
         <td>Pipelines</td>
     </tr>
     <tr>
         <td>13:00 - 14:00</td>
         <td style="background:#DCDCDC">
	 Lunch 
         <td style="background:#DCDCDC">
     </tr>
     <tr>
         <td>14:00 - 15:30</td>
	 <td>Practical</td>
         <td>Python Libraries</td>
     </tr>
     <tr>
         <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>16:00 - 18:00</td>
	 <td>Practical</td>
         <td>Python Libraries</td>
     </tr>
     <tr >
         <td width="130" style="background:#ff9400">
         <b>Friday, Sept 30th</b>
         </td>
         <td style="background:#ff9400">
	 </td>
         <td width = "110" style="background:#ff9400" align="right">
         <b>Day #5</b>
         </td>
     </tr>
 
 <!--Day Five program -->
 
    <tr>
        <td>09:00-10:30</td>
        <td>Practical</td>
        <td>Intro to the Hackathon</td>
    </tr>
     <tr>
         <td>10:30 - 11:00</td>
         <td style="background:#DCDCDC">
         Coffee break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>11:00 - 13:00</td>
	 <td>Practical</td>
         <td>Hackathon</td>
     </tr>
     <tr>
         <td>13:00 - 14:00</td>
         <td style="background:#DCDCDC">
	 Lunch 
         <td style="background:#DCDCDC">
     </tr>
     <tr>
         <td>14:00 - 15:30</td>
	 <td>Practical</td>
         <td>Hackathon</td>
     </tr>
     <tr>
         <td>15:30 - 16:00</td>
         <td style="background:#DCDCDC">
         Tea break
         <td style="background:#DCDCDC"></td>
         </td>
     </tr>
     <tr>
         <td>16:00 - 18:00</td>
	 <td>Wrap-up</td>
         <td>
             Hackathon presentations.
             Expectations, outcomes, feedback.
             Wrap up.
         </td>
     </tr>

 </table>
 </div>
 
 <div class=course>
     <h4><a href="{% url "course_detail" pk=course.pk %}">Course Homepage</a></h4>                                        
 </div>
 
 {% endblock content %}

