{% extends "elixir_ita/base.html" %}

{% load staticfiles %}

{% block content %}

    <div class = "table_home">
	<table width="800" align="center">
	    <tr>
		<td>
		<br>
			<h3 align = "center">Workshop on</h3>   
			<h2 align = "center">Effective academic teaching</h2>    
			<h4 align = "center"><b>Learning principles and didactic strategies that will transform your way of delivering bioinformatics courses</b></h4> 
			<h4 align = "center">University of Salerno, IT, June 15th, 2016</h4>
   
The difference between a good academic course and a bad one still mostly resides in the ability of the teacher to deliver clear and engaging lessons and his/her charismatic attitude, if present. Good teaching, though, is as much about passion as it is about reason. Few university instructors, even the most charismatic ones, are taught any cognitive science before or after they join a faculty, and they consequently default to teaching the way they were taught, regularly doing things that interfere with learning and failing to do things that promote it. 
<br>Despite significant progress has been made in the last few decades toward understanding what facilitates and hinders learning, the biggest change that can be observed today in our university halls, is the visual support (slides rather than black boards) used to deliver lessons. Fortunately, a growing number of studies and teaching practices now exist that can be of great help to every teacher in designing instruction, preparing materials, delivering lessons and assisting students in their learning process. These "instructional strategies" can be very easily implemented by both less and more experienced teachers, including those who have been running a course for many terms. In both cases, they will see the efficacy of their teaching growing beyond any expectations. 
<br><br>In this workshop, we will provide participants with instructional principles that come directly from cognitive research and the speakers' experience, and their implications for teaching practice. We will then extensively discuss which principles can be easily translated (and how) into teaching strategies and applied into actual courses.
<br>The workshop's main goal is to develop, in a shared effort involving participants and speakers, guidelines with concrete actions that can be easily adopted by any teacher in their bioinformatics academic courses.
</a>.
<br><br>
<font size="4"><b>Organisers</b></font>
<br>Vincenza Colonna (CNR, Naples, IT)
<br>Anna Marabotti (University of Salerno, IT)
<br>Roberto Tagliaferri (University of Salerno, IT)
<br>Allegra Via (CNR, IBBE, Bari)
<br><br>
<font size="4"><b>Preliminary programme</b></font>
<br>9h15-9h30 – Introduction, motivations and aims – A. Via & V. Colonna 
<br>09h30 – 09h50 – V. Colonna (CNR, Naples, IT): Lessons from non academic teaching
<br>09h50 – 10h20 – A. Via (CNR, Bari, IT): Lessons from cognitive research, academic teaching and training experiences
<br>10h10 – 10h30 – Coffee break
<br>10h30 – 10h50 – Gabriella Rustici (University of Cambridge, UK): Lessons from the training programme at the university of Cambridge
<br>10h50 – 11h10 – Sarah Morgan (EBI, UK): Lessons from training at the EBI
<br>11h10 – 11h40 – Work in groups
<br>11h40 – 12h00 – Recap and discussion
<br>12h00 – 12h40 – Work in groups
<br>12h40 – 13h00 – Discussion and final recap
<br><br><br>
                </td>
	    </tr>
	</table>
    </div>

{% endblock content %}

