<html>
    <head>
        <title>ELIXIR-ITA bioinformatics training courses</title>
    </head>
    <body>
        <div>
            <h1>ELIXIR-ITA bioinformatics training courses 2015</h1>
        </div>

        <div>
            <ul>
                <li>
                    <h3><a href="">Gene Expression profiling with HTS: RNA-Seq data analysis</a></h3>
                    <p>Rome, CINECA, 19-22 October 2015</p>    
                </li>
                <li>
                    <h3><a href="">NGS for evolutionary biologists: from basic scripting to variant calling </a></h3>
                    <p>Rome, CINECA, 23-27 November 2015</p>
                </li>
            </ul>
        </div>

    </body>
</html>

