{% extends "elixir_ita/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="table">
        <table width="910" align="center">
	    <tr><td>
	    <h2>{{ trainer.name }}</h2>
	    <tr>
	        <td>
    		    <div class="course">	
			<img border="0" style="margin:4px" src="{% static trainer.photo %}" width="91" align="left">
			<font size="2">
			    <p align="justify">
			    {{ trainer.bio }}</p>
			    <b>Affiliation: </b> {{ trainer.affiliation }}<br>
                            <b>Contact: </b> {{trainer.contact}}<br>
                            {% if not trainer.website = '' %}
                                <b>Website:</b> {{trainer.website}}
                            {% endif %}
			    </p>
			</font>
	       	    </div>
		</td>
	    </tr>
	</table>
    </div>

<div class=course>
     <h4><a href="{% url "course_detail" pk=course.pk %}">Course homepage</a></h4>                                        
     <h4><a href="{% url "course_main_page" %}">All courses</a></h4>
 </div>

			

{% endblock content %}

